<a href="https://colab.research.google.com/github/Shaif95/AICamp_DS/blob/main/Ryan_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

stock = 'AAPL'

# URL of the raw CSV file on GitHub
csv_url = 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/'+ stock +'.csv'

# Read the CSV data into a pandas DataFrame
df = pd.read_csv(csv_url)
df.index.name = 'Date '
df.shape

# Display the DataFrame
print(df.head(3))
print(df.tail(3))

             Date       Open       High        Low      Close  Adj Close  \
Date
0      2012-09-04  95.108574  96.448570  94.928574  96.424286  87.121140
1      2012-09-05  96.510002  96.621429  95.657143  95.747147  86.509338
2      2012-09-06  96.167145  96.898575  95.828575  96.610001  87.288956

         Volume
Date
0      91973000
1      84093800
2      97799100
             Date        Open        High         Low       Close   Adj Close  \
Date
1255   2017-08-30  163.800003  163.889999  162.610001  163.350006  163.350006
1256   2017-08-31  163.639999  164.520004  163.479996  164.000000  164.000000
1257   2017-09-01  164.800003  164.940002  163.630005  164.050003  164.050003

         Volume
Date
1255   27269600
1256   26785100
1257   16552800

In [ ]:
pip install --upgrade mplfinance

Collecting mplfinance
  Downloading mplfinance-0.12.9b7-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.1/73.1 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from mplfinance) (3.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from mplfinance) (1.5.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->mplfinance) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->mplfinance) (1.16.0)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.9b7

In [ ]:
df[["Year", "Month", "Day"]] = df['Date'].str.split("-", expand = True)
df.head()

# def plot_line(years):
  # mpf.plot(df.tail(), type='line')

# years = input("How many years of data would you like to see: ")
# plot_line(int(years))

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day
Date,,,,,,,,,,
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000,2012,09,04
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,2012,09,05
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,2012,09,06
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,2012,09,07
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,2012,09,10